::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, var(--scrollbar-track-color-one), var(--scrollbar-track-color-two));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, var(--scrollbar-color-one), var(--scrollbar-color-two));
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, var(--scrollbar-hover-color-one), var(--scrollbar-hover-color-two));
    transform: scale(1.1);
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(135deg, var(--scrollbar-active-color-one), var(--scrollbar-active-color-two));
    transform: scale(0.95);
}

.scrollable {
    height: 100vh;
    overflow-y: auto;
    padding-right: 20px;
}