.footer {
    width: 100%;
    height: auto;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--third-color);
    font-size: 1.6rem;
    padding: 1rem;

    .footer-copy {
        font-weight: 200;
    }

    .footer-contact {
        font-weight: 200;
        display: flex;
        align-items: center;
        gap: 1rem;

        .footer-mail {
            text-decoration: none;
            color: var(--third-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}