@import url(./header.css);
@import url(./presentation.css);
@import url(./footer.css);
@import url(./about.css);
@import url(./scrollbar.css);
@import url(./skills.css);

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 64.5%;
}

:root {
    --first-color: #181818;
    --second-color: #FF0000;
    --third-color: #f7f9ff;
    --fourth-color: #222222;
    --about-background-color: #121010;
    --font-family: "Catamaran", sans-serif;
    --font-size-title: 3.5rem;
    --social-media-icons-size: 3.5rem;
    --cv-icon-size: 2rem;
    --greetings-font-size: 3.2rem;
    --name-font-size: 7.5rem;
    --text-area-font-size: 4rem;
    --infos-button-text-size: 1.8rem;
    --about-me-font-size: 3rem;
    --about-phrase-font-size: 3.5rem;
    --about-area-and-name-formations-font-size: 1.8rem;
    --formations-title-font-size: 2.5rem;
    --formations-text-font-size: 1.5rem;
    --text-shadow:
        2px 2px 1px rgba(53, 4, 4, 0.7),
        -2px -2px 1px rgba(53, 0, 0, 0.7),
        -2px 2px 1px rgba(53, 0, 0, 0.7),
        2px -2px 1px rgba(53, 0, 0, 0.7);
    --blur: blur(10px);
    --menu-color: rgba(0, 0, 0, 0.9);
    --about-content-background-color: #450000;
    --scrollbar-track-color-one: #000000;
    --scrollbar-track-color-two: #260000;
    --scrollbar-color-one: #A00000;
    --scrollbar-color-two: #450000;
    --scrollbar-hover-color-one: #e00000;
    --scrollbar-hover-color-two: #660000;
    --scrollbar-active-color-one: #f10000;
    --scrollbar-active-color-two: #850000;  
}